<div class="container">
  <table class="table" *ngIf="bills">
    <thead>
    <tr>
      <th>ID</th><th>Billing date</th><th>Customer ID</th><th>Customer's full name</th><th>Total</th><th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let b of bills">
      <td>{{b?.id}}</td>
      <td>{{b?.billingDate | date: "dd/MM/yyyy"}}</td>
      <td>{{b?.customerId}}</td>
      <td>{{b.customer.firstName}} {{b.customer.lastName}}</td>
      <td>{{b.total | number: ".2"}}</td>
      <td>
        <table class="table table-secondary" *ngIf="bills">
          <thead>
          <tr>
            <th>Product ID</th><th>Name</th><th>Price</th><th>Quantity</th><th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pi of b.productItems">
            <td>{{pi?.id}}</td>
            <td>{{pi?.product.name}}</td>
            <td>{{pi?.product.price}}</td>
            <td>{{pi?.quantityItem}}</td>
            <td>{{ (pi ? (pi.product.price * pi.quantityItem) : '')| number: ".2" }}</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>

    </tbody>
  </table>
</div>

<div class="container">
</div>
